<p>
    Browse the countries here lol <a ng-href="#/"><button class="btn">Home</button></a>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Capital
                </th>
                <th>
                    Population
                </th>
                <th>
                    Area in KM<sup>2</sup>
                </th>
                <th>
                    Continent
                </th>
                <th>
                    Country Code
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="country in data">
            <tr ng-click="goToCountry(country.countrCode)">
                <td>
                    {{ country.countryName }}
                </td>
                <td>
                    {{ country.capital }}
                </td>
                <td>
                    {{ country.population | number }}
                </td>
                <td>
                    {{ country.areaInSqKm | number }}
                </td>
                <td>
                    {{ country.continent }}
                </td>
                <td>
                    {{ country.countryCode }}
                </td>
            </tr>
        </tbody>
    </table>
</p>
